@page
@model Johari.Pages.Friends.ResponseLimitReachedModel
@{
    ViewData["Title"] = "Limit Reached";
}

<div class="container">
    <h2>Response Limit Reached</h2>
    <hr />
    <div class="pb-1 pt-3 text-center">
        <h5>The person you are trying to fill out the survey for has reached the maximum allowed responses.
            No more responses will be accepted at this time. Thank you for your time.
        </h5>
    </div>
</div>
