@page
@model Johari.Pages.Friends.ThankYouModel
@{
    ViewData["Title"] = "Submission Confirmed";
}

<div class="container">
    <h2>Thank You!</h2>
    <hr />
    <div class="pb-1 pt-3 text-center">
        <h5>Your submission has been recorded.</h5>
    </div>    
</div>
