@page
@model Johari.Pages.Shared.ProhibitedModel
@{
    ViewData["Title"] = "Access Denied";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Infrastructure.Services

<div class="container text-center">
    <h2>Oop's you do not have permission to access this page.</h2>
    <hr />
    <div class="pb-1 pt-3 text-center">
        <h3>Try logging in or creating an account.</h3>
    </div>

    <div class="text-center pt-2">
        @{ var t = HttpContextAccessor.HttpContext.Session.GetString("ReturnURL");} 
        <a class="btn btn-secondary btn-square"
           asp-route-returnUrl="@{HttpContextAccessor.HttpContext.Session.GetString("ReturnURL");}"
           asp-area="Identity"
           asp-page="/Account/Login">Go To Login</a>

        @*@{ var oooo = ViewData["ReturnUrl"];}

        <a class="btn btn-secondary btn-square"
           asp-route-returnUrl="@ViewData["ReturnUrl"]"
           asp-area="Identity"
           asp-page="/Account/Login">Go To Login</a>*@

    </div>

    <!--possibly add a return route to this link if possible asp-route-returnUrl=" return to page that sent us here."-->

</div>