@page
@model Johari.Pages.Clients.ResponseSubmissionConfirmedModel
@{
}

<div class="container">
    <h2>Submission Confirmed</h2>
    <hr />
    <div class="pb-2 pt-3">
        <h5>Next, send this link to your friends and family to get their responses:</h5>
    </div>
    <div class="card m-1 bg-white box-shadow">
        <div class="card-body p-2">
        <h6>www.roofhippie.com?id=[insertIdHere]</h6>
        </div>
    </div>   
</div>