@page
@model Johari.Pages.Admin.IndexModel
@{
}


<table>
    <colgroup>
        <row>Open Adjective Matches Go Here</row>
        <row>Blind Adjective Matches go Here</row>
    </colgroup>
    <colgroup>
        <row>Hidden Adjective Matches go Here</row>
        <row>Unknown Adjectives go here</row>
    </colgroup>
</table>
