@page
@model Johari.Pages.Admin.IndexModel
@{
}

<div class="text-center">
    <h3>FirstName, LastName</h3>
</div>

<div class="row justify-content-center">
    <table class="table-bordered text-center">         
        <tbody>
            <tr>
                <td class="p-2">Open Adjective Matches Go Here</td>
                <td class="p-2">Blind Adjective Matches go Here</td>
            </tr>
            <tr>
                <td class="p-2">Hidden Adjective Matches go Here</td>
                <td class="p-2">Unknown Adjectives go here</td>
            </tr>

        </tbody>   
    </table>
</div>
