@page
@model Johari.Pages.Admin.ResetResponsesModel
@{    
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body px-lg-5 pt-4">
                <div class="text-secondary text-center py-4"><h3><strong>Responses Reset</strong></h3></div>
                <section>
                    <div class="p-2 text-center" style="font-size: 1.2rem;" >
                    All Responses for the Client and their friends have been reset. They can now re-submit a new response.
                    </div>

                    <div class="text-center p-3">
                        <a href="/Admin/SearchClient"
                           class="btn btn-success w-25" style="cursor:pointer; "> Go Back</a>
                    </div>
                </section>                
            </div>
        </div>
    </div>
</div>


