@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1> What is the Johari Window?</h1>
    <p>
        The Johari Window is a model that helps us understand our relationships with ourselves and others as we interact with them.
    </p>
</div>
